.pong {
    text-align: center;
    color: ##CCC;
}
.cancha {
    padding: 20px;
    margin: auto;
    background-color: #FFF;
    width: 800px
    border-radius: 2%;
    border-style: dotted;
    border-color: #444;
}
