.pong {
    text-align: center;
    color: #CCCCCC;
}
.cancha {
    padding: 10px;
    margin: auto;
    background-color: #CCCCCC;
    width: 800px;
    border-radius: 2%;
    border-style: dotted;
    border-color: #444;
}
