.row {
    display: flex;
    padding: 30px;
    margin: 30px;
    background-color: azure;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pong {
    text-align: center;
    color: #CCCCCC;
    font-family: Courier;
}

